**/.DS_Store
**.pyc
**.pdf
glitcher/*.wav
glitcher/*.wav.asd
images/raw/*
images/glitched/*
sources/*
glitcher/venv
**/.idea
glitcher/*.png
*.png
glitcher/scratch.py
**.pages
images
.ipynb_checkpoints
!docs/img/*
README.ipynb
